In [1]:
import pandas as pd

In [2]:
dataframe = pd.read_csv("COVID-19 Global Statistics Dataset.csv")

In [3]:
dataframe.head()

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop,Deaths/1M pop,Total Tests,Tests/1M pop,Population
0,USA,"111,367,209",NaN,"1,199,031",NaN,"109,053,249",NaN,"1,114,929","1,771","332,633","3,581","1,186,742,917","3,544,577","334,805,269"
1,India,"45,028,429",161,"533,475",2.0,NaN,NaN,NaN,NaN,"32,012",379,"935,879,495","665,334","1,406,631,776"
2,France,"40,138,560",NaN,"167,642",NaN,"39,970,918",NaN,0,NaN,"612,013","2,556","271,490,188","4,139,547","65,584,518"
3,Germany,"38,819,284",574,"182,439",28.0,"38,240,600",NaN,"396,245",NaN,"462,776","2,175","122,332,384","1,458,359","83,883,596"
4,Brazil,"38,407,327",NaN,"709,765",NaN,"36,249,161",NaN,"1,448,401",NaN,"178,345","3,296","63,776,166","296,146","215,353,593"

In [4]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            239 non-null    object
 1   Total Cases        239 non-null    object
 2   New Cases          12 non-null     object
 3   Total Deaths       234 non-null    object
 4   New Deaths         7 non-null      float64
 5   Total Recovered    190 non-null    object
 6   New Recovered      17 non-null     object
 7   Active Cases       191 non-null    object
 8   Serious, Critical  60 non-null     object
 9   Tot Cases/1M pop   230 non-null    object
 10  Deaths/1M pop      225 non-null    object
 11  Total Tests        213 non-null    object
 12  Tests/1M pop       213 non-null    object
 13  Population         229 non-null    object
dtypes: float64(1), object(13)
memory usage: 26.3+ KB

In [5]:
print(dataframe.isnull().sum())

Country                0
Total Cases            0
New Cases            227
Total Deaths           5
New Deaths           232
Total Recovered       49
New Recovered        222
Active Cases          48
Serious, Critical    179
Tot Cases/1M pop       9
Deaths/1M pop         14
Total Tests           26
Tests/1M pop          26
Population            10
dtype: int64

In [6]:
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
plt.figure(figsize=(10, 6))
sns.histplot(df['TotalCases'], bins=30, kde=True)
plt.title('Distribution of Total Cases')
plt.xlabel('Total Cases')
plt.ylabel('Frequency')
plt.show()

NameError: name 'df' is not defined

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
plt.figure(figsize=(10, 6))
sns.histplot(dataframe['TotalCases'], bins=30, kde=True)
plt.title('Distribution of Total Cases')
plt.xlabel('Total Cases')
plt.ylabel('Frequency')
plt.show()

KeyError: 'TotalCases'