In [1]:
import pandas as pd

In [2]:
dataframe = pd.read_csv("COVID-19 Global Statistics Dataset.csv")

In [3]:
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns

In [5]:
dataframe.head()

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop,Deaths/1M pop,Total Tests,Tests/1M pop,Population
0,USA,"111,367,209",NaN,"1,199,031",NaN,"109,053,249",NaN,"1,114,929","1,771","332,633","3,581","1,186,742,917","3,544,577","334,805,269"
1,India,"45,028,429",161,"533,475",2.0,NaN,NaN,NaN,NaN,"32,012",379,"935,879,495","665,334","1,406,631,776"
2,France,"40,138,560",NaN,"167,642",NaN,"39,970,918",NaN,0,NaN,"612,013","2,556","271,490,188","4,139,547","65,584,518"
3,Germany,"38,819,284",574,"182,439",28.0,"38,240,600",NaN,"396,245",NaN,"462,776","2,175","122,332,384","1,458,359","83,883,596"
4,Brazil,"38,407,327",NaN,"709,765",NaN,"36,249,161",NaN,"1,448,401",NaN,"178,345","3,296","63,776,166","296,146","215,353,593"

In [7]:
dataframe['Total Cases'] = dataframe['Total Cases'].str.replace(',','').astype(float)

In [8]:
dataframe['Total Cases'] = dataframe['Total Cases'].fillna(0)

In [9]:
plt.figure(figsize=(14, 8))
sns.barplot(x='Country', y='TotalCases', dataframe=dataframe.nlargest(10, 'Total Cases'))
plt.title('Top 10 Countries by Total Cases')
plt.xlabel('Country')
plt.ylabel('Total Cases')
plt.xticks(rotation=45)
plt.show()

ValueError: Could not interpret value `Country` for `x`. Value is a string, but `data` was not passed.

In [10]:
dataframe.head(20)

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop,Deaths/1M pop,Total Tests,Tests/1M pop,Population
0,USA,111367209.0,NaN,"1,199,031",NaN,"109,053,249",NaN,"1,114,929","1,771","332,633","3,581","1,186,742,917","3,544,577","334,805,269"
1,India,45028429.0,161,"533,475",2.0,NaN,NaN,NaN,NaN,"32,012",379,"935,879,495","665,334","1,406,631,776"
2,France,40138560.0,NaN,"167,642",NaN,"39,970,918",NaN,0,NaN,"612,013","2,556","271,490,188","4,139,547","65,584,518"
3,Germany,38819284.0,574,"182,439",28.0,"38,240,600",NaN,"396,245",NaN,"462,776","2,175","122,332,384","1,458,359","83,883,596"
4,Brazil,38407327.0,NaN,"709,765",NaN,"36,249,161",NaN,"1,448,401",NaN,"178,345","3,296","63,776,166","296,146","215,353,593"
5,S. Korea,34571873.0,NaN,"35,934",NaN,"34,535,939",NaN,0,NaN,"673,523",700,"15,804,065","307,892","51,329,899"
6,Japan,33803572.0,NaN,"74,694",NaN,NaN,NaN,NaN,NaN,"269,169",595,"100,414,883","799,578","125,584,838"
7,Italy,26716804.0,NaN,"196,257",NaN,"26,347,863",NaN,"172,684",67,"443,338","3,257","280,238,086","4,650,269","60,262,770"
8,UK,24898914.0,NaN,"232,112",NaN,"24,655,170",NaN,"11,632",NaN,"363,499","3,389","522,526,476","7,628,357","68,497,907"
9,Russia,23957146.0,NaN,"402,264",NaN,"23,370,779",NaN,"184,103",NaN,"164,308","2,759","273,400,000","1,875,095","145,805,947"
10,Turkey,17232066.0,NaN,"102,174",NaN,NaN,NaN,NaN,NaN,"201,399","1,194","162,743,369","1,902,052","85,561,976"
11,Spain,13914811.0,NaN,"121,760",NaN,"13,762,417",NaN,"30,634",231,"297,840","2,606","471,036,328","10,082,298","46,719,142"
12,Australia,11812730.0,"1,345","24,228",NaN,NaN,NaN,NaN,5,"453,137",929,"81,916,639","3,142,326","26,068,792"
13,Vietnam,11624114.0,NaN,"43,206",NaN,"10,640,971",NaN,"939,937",NaN,"117,470",437,"85,826,548","867,342","98,953,541"
14,Taiwan,10241523.0,NaN,"19,005",NaN,"10,222,518",NaN,0,NaN,"428,720",796,"30,742,304","1,286,903","23,888,595"
15,Argentina,10094643.0,NaN,"130,733",NaN,"9,963,910",NaN,0,NaN,"219,400","2,841","35,716,069","776,264","46,010,234"
16,Netherlands,8634340.0,NaN,"22,992",NaN,"8,610,383",622,965,NaN,"501,663","1,336","25,984,435","1,509,718","17,211,447"
17,Mexico,7702809.0,NaN,"334,958",NaN,"6,899,865",NaN,"467,986",NaN,"58,549","2,546","20,013,810","152,124","131,562,772"
18,Iran,7626527.0,NaN,"146,799",NaN,NaN,NaN,NaN,NaN,"88,657","1,707","57,320,267","666,338","86,022,837"
19,Indonesia,6828605.0,NaN,"162,033",NaN,"6,647,104",NaN,"19,468",NaN,"24,463",580,"114,158,919","408,975","279,134,505"